.container{
  
 
}
.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f0f1e9;
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: var(--spacing-xl);
  overflow-y: auto;
}
